p {
    font-size: 1rem;
}

ul li,
ol li {
    font-size: 1rem;
}

figcaption {
    margin-top: 0.75em;
    margin-bottom: 1.65rem;
    line-height: 1;
    text-align: center;
    font-style: italic;
    font-size: 0.75rem;
}